/* Fonts */
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700;900&display=swap);

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--typography-heading-font-family);
  font-weight: var(--typography-heading-font-weight);
  color: var(--typography-heading-color);
}

h1 {
  font-size: var(--typography-heading-h1-font-size);
}

h2 {
  font-size: var(--typography-heading-h2-font-size);
}

h3 {
  font-size: var(--typography-heading-h3-font-size);
}

h4 {
  font-size: var(--typography-heading-h4-font-size);
}

h5 {
  font-size: var(--typography-heading-h5-font-size);
}

h6 {
  font-size: var(--typography-heading-h6-font-size);
}

body {
  font-family: var(--typography-body-font-family);
  font-size: var(--typography-body-font-size);
  font-weight: var(--typography-body-font-weight);
  color: var(--typography-body-color);
  line-height: var(--typography-body-line-height);
}

p {
  font-size: var(--typography-body-font-size);
  line-height: var(--typography-body-line-height);
}
